@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

body {
  font-family: "Fira Sans";
  background-color: #1f1d2b;
  font-size: 12pt;
  color: #f9f7f8;
  border-color: #b48afd;
}

input {
  outline: none;
}

.logo {
  margin-top: -20px;
  margin-left: 3px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.decription {
  padding: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.init {
  border: solid;
  background-color: #262332;
  color: #cc577f;
  border-radius: 30px;
  border-color: #262332;
  display: inline;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.search {
  margin-top: 0;
  margin-left: 3px;
  margin-right: 3px;
  height: 40px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 10px;
  justify-items: stretch;
}

.main {
  border: solid;
  border-radius: 20px;
  border-color: #262332;
  background-color: #262332;
  color: #f9f7f8;
  font-size: 12pt;
  padding: 10px;
}

.main:hover {
  border-color: #b48afd;
}

.main:focus {
  border-color: #b48afd;
}

.logs {
  margin-top: 20px;
  border: solid;
  border-radius: 20px;
  border-color: #2f2d3b;
  background-color: #2f2d3b;
  color: #f9f7f8;
  font-size: 12pt;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.footer {
  margin-top: 5px;
  text-align: center;
}

.point {
  margin-top: 10px;
  border-radius: 20px;
  border: solid;
  border-radius: 20px;
  border-color: #262332;
  background-color: #262332;
  color: #f9f7f8;
  font-size: 12pt;
  padding: 10px;
  margin-left: 5px;
  margin-right: 3px;
}

.err {
  margin-top: 10px;
  border-radius: 20px;
  border: solid;
  border-radius: 20px;
  border-color: #262332;
  background-color: #262332;
  color: #f9f7f8;
  font-size: 12pt;
  padding: 10px;
  margin-left: 5px;
  margin-right: 3px;
  text-align: center;
}
